@font-face {
	src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
	src: url("fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
	src: url("fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-Italic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-Light.ttf");
}
@font-face {
	src: url("fonts/OpenSans-LightItalic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
	src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
	src: url("fonts/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
	src: url("fonts/Montserrat-Bold.otf");
}
@font-face {
	src: url("fonts/Montserrat-BoldItalic.otf");
}
@font-face {
	src: url("fonts/Montserrat-ExtraLight.otf");
}
@font-face {
	src: url("fonts/Montserrat-ExtraLightItalic.otf");
}
@font-face {
	src: url("fonts/Montserrat-Italic.otf");
}
@font-face {
	src: url("fonts/Montserrat-Light.otf");
}
@font-face {
	src: url("fonts/Montserrat-LightItalic.otf");
}
@font-face {
	src: url("fonts/Montserrat-Medium.otf");
}
@font-face {
	src: url("fonts/Montserrat-MediumItalic.otf");
}
@font-face {
	src: url("fonts/Montserrat-Regular.otf");
}
@font-face {
	src: url("fonts/Montserrat-SemiBold.otf");
}
@font-face {
	src: url("fonts/Montserrat-SemiBoldItalic.otf");
}

/*
 * MainPage components styling
 */
.dashboard-menu-button {
	-fx-font-family: "Open Sans Light";
	-fx-font-size: 22;
	-fx-background-color: #FFECD9;
	-fx-background-radius: 0px;
}
.dashboard-menu-button:hover {
	-fx-background-color: #D9D9FF;
}
.dashboard-menu-button:pressed {
	-fx-background-color: #9696E6;
}
.dashboard-menu-button:selected {
	-fx-background-color: #9696E6;
	-fx-border-color: #5C5CCC;
	-fx-border-width: 0px 0px 0px 4px;
	-fx-font-family: "Open Sans";
	-fx-text-fill: #FFFFFF;
}

.top-bar-close-button {
	-fx-background-color:  #E6BE96;
	-fx-background-radius: 0px;
}
.top-bar-close-button:hover {
	-fx-background-color: #D9D9FF;
}
.top-bar-close-button:pressed {
	-fx-background-color: #9696E6;
}

.main-window-title {
	-fx-font-family: "Open Sans Bold Italic";
	-fx-font-size: 32;
}

.root {
	-fx-base: #FFECD9;
	-fx-focus-color: #5C5CCC;
}

