/*
 * ID used to apply custom style to the title label 
 */
#titleLabel {
	-fx-font-family: "Open Sans Semibold";
	-fx-font-size: 30.0;
	-fx-text-fill: #5C5CCC;
	-fx-alignment: CENTER-LEFT;
	-fx-padding: 50.0 0.0 0.0 40.0;
	
	-fx-background-color: #FFECD9;
	-fx-border-color: #5C5CCC;
	-fx-border-width: 0.0 0.0 3.0 0.0;
}

/*
 * ID used to apply custom background color to the gridpane holding the current values
 */
#currentValuesGrid {
	-fx-background-color: #FFECD9;
}

/*
 * custom style class used to apply a custom color to the labels that display current values for NMC information
 */
.currentValueLabel {
	-fx-text-fill: #5C5CCC;
}

.text-field {
	-fx-font-family: "Montserrat Regular";
	-fx-alignment: CENTER-RIGHT;
	-fx-padding: 0.0 7.0 0.0 0.0;
}

/*
 * Hide the horizontal scrollbar of TableView
 */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}


