@font-face {
	src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
	src: url("fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
	src: url("fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-Italic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-Light.ttf");
}
@font-face {
	src: url("fonts/OpenSans-LightItalic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-Medium.ttf");
}
@font-face {
	src: url("fonts/OpenSans-MediumItalic.ttf");
}
@font-face {
	src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
	src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
	src: url("fonts/OpenSans-SemiBoldItalic.ttf");
}

/*
 * Global Label styling
 */
 .label {
 	-fx-font-family: "Open Sans Regular";
 }

/*
 * Global Button styling for a uniformed look
 * Can be overridden by specifying Properties/Style or Style Class in SceneBuilder
 * Or use another CSS file
 */
.button {
	-fx-font-family: "Open Sans Medium";
	-fx-text-fill: #5C5CCC;
	-fx-base: #FFE2BF;
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 3, 0.0, 0, 1);
}

/*
 * Global Button styling for a uniformed look
 * Can be overridden by specifying Properties/Style or Style Class in SceneBuilder
 * Or use another CSS file
 */
.tab-pane {
	-fx-tab-min-height: 48px;
	-fx-tab-max-height: 48px;
	-fx-tab-min-width: 240px;
	-fx-tab-max-width: 240px;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: #FFF4E9;
}

.tab-pane .tab {
	/* no gap between tabs */
	-fx-background-insets: 0 0 0 0, 0, 0;
	/* disable focus ring */
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	/* match background color to header background */
	-fx-background-color: #FFF4E9;
}
.tab-pane .tab:selected {
	-fx-background-color: #FFECD9;
	-fx-border-color: #5C5CCC;
	-fx-border-width: 0px 0px 2px 0px;
}

.tab-pane .tab .tab-label {
	-fx-font-family: "Open Sans SemiBold";
	-fx-font-size: 18;
	-fx-text-fill: #909099;
	-fx-alignment: CENTER;
}
.tab-pane .tab:selected .tab-label {
	-fx-text-fill: #5C5CCC;
}

.root {
	-fx-base: #FFECD9;
	-fx-focus-color: #5C5CCC;
}

